[Desktop Entry]
Name=YouDzer
Comment=Baixe músicas e vídeos, e atualize os metadados da sua coleção
GenericName=YouDzer
Exec=/usr/local/bin/youdzer/youdzer.sh
Icon=/usr/share/icons/youdzer/assets/icons/512x512/youdzer.svg
Terminal=true
Type=Application
Categories=Audio;Video;AudioVideo;AudioVideoEditing;